body {
  margin: 4rem;
  background-color: #cdcdcd;
}

header > img {
  width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 2rem 0;
}

h1 {
    font-size: 2rem;
}

nav {
  background-color: #b7c3cd;
  margin: 0 auto;
  border-radius: 14px;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 1rem;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #436988;
  padding: 0 1rem;
  cursor: pointer;
  font-weight: 600;
}

nav a:hover {
  color: #fff;
}

section {
  display: flex;
}

article {
  margin: 0 20px;
  flex: 1;
}

.main-img-text {
    background-color: #c8c8c8;
    padding: 2rem 1rem;
    border-radius: 14px;
}

.main-img-text > article {
    background-color: #b7c3cd;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
}

article > p {
    padding-top: 0.5rem;
    text-align: left;
}

article > img {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

footer {
  padding: 2rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 2rem;
}
