body {
  margin: 2rem;
  background-color: #cdcdcd;
}

.plant-background {
  background: url("/images/header-plant-background.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100vw 800px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo > img {
  width: 2rem;
}

.nav > ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

ul > li {
  padding: 2rem;
}

li > a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

li > a:hover {
  color: #fff;
}

section {
  display: flex;
}

.sale-article {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 10px;
}

.sale-article > p {
  width: 60%;
}

article {
  margin: 0 20px;
  flex: 1;
}

.main-img-text {
  background-color: #c8c8c8;
  padding: 2rem 1rem;
  border-radius: 14px;
}

.main-img-text > article {
  background-color: #b7c3cd;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

article > p {
  padding-top: 0.5rem;
  text-align: left;
}

article > img {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

footer {
  padding: 2rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 2rem;
}
