body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: "Roboto Mono", monospace;
}

/* ------------- Header ------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo > img {
  width: 2rem;
}

.home-btn {
  color: rgb(1, 100, 100);
}

.nav > ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

ul > li {
  padding: 2rem;
}

li > a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

li > a:hover {
  color: rgb(1, 100, 100);
}

section {
  display: flex;
}

/* ------------- Sale Section ------------- */

.plant-background {
  background-image: url("/images/header-plant-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
}

.sale-article {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 10px;
}

.sale-article > h1 {
  font-size: 2rem;
  font-weight: 500;
}

.sale-article > p {
  padding: 2rem 0;
  width: 40%;
  font-size: 1.3rem;
}

article {
  margin: 0 20px;
  flex: 1;
}

.main-img-text {
  padding: 2rem 1rem;
  border-radius: 14px;
}

.main-img-text > article {
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

article > h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

article > p {
  font-size: 1rem;
  color: #494949;
  padding-top: 0.5rem;
  text-align: left;
}

article > img {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

footer {
  padding: 2rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 2rem;
}
